{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">7/24 Canlı Müzik</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">D-FM</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white"></span>
  </div>
</header>


<div class="w3-sand w3-grayscale w3-large">
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Radyo Hakkında</span></h5>
      <p style="text-align: justify;">Radyomuz 2020 yılı mayıs ayında siz değerli dinleyicilerimize yayın yapmaya
        başlamıştır.Tüm dünyada beğeni kazanmış müzikleri yüksek ses kalitesinde sunmayı ilke edindik.Bu sadelikten
        sıkıldıysan üst tarafta görebileceğiniz <strong>Radyo</strong> ve <strong>Spotify</strong> butonlarından
        binlerce şarkı arasından istediğinizi bulabilirsiniz.Spotify'dan radyomuzu takip etmeyi de unutmayın.Bizde her
        türden müziği bulabilirsiniz</p>
      <div class="w3-panel w3-leftbar w3-light-grey">
        <p><i>"Ben en güzel şarkılarımı D-FM i dinlerken yazdım. Gece gündüz sunduğu popüler şarkılar sayesinde
            radyomdaki favorilerde yerini aldı."</i></p>
        <p>Şarkıcı,Söz Yazarı: Nicki MINAJ</p>
      </div>
      <img src="{% static 'image/radyo.jpg' %}" style="width:100%;max-width:1000px" class="w3-margin-top">

    </div>
  </div>


  <div class="w3-container" id="menu">
    <div class="w3-content" style="max-width:700px">

      <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Yayın Programı</span></h5>

      <div class="w3-row w3-center w3-card w3-padding">
        <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
          <div class="w3-col s6 tablink">Gündüz</div>
        </a>
        <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
          <div class="w3-col s6 tablink">Gece</div>
        </a>
      </div>

      <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
      
      <img src="{% static 'image/piyano.jpg' %}" style="width:100%;max-width:1000px;margin-top:32px;">
    </div>
  </div>
</div>
{% endblock content %}





